cbor2==5.6.5
coloredlogs==15.0.1
cryptography==44.0.2
ecdsa==0.19.1
icecream==2.1.4
Jinja2==3.1.6
jwcrypto==1.5.6
oqs==0.10.2
python-dotenv==1.1.0
Requests==2.32.3
python-multipart
zeep==4.3.1
lxml==5.3.2
jsonschema==4.23.0
pymtom_xop==0.0.2
pyjson5==1.6.8
fastapi==0.115.6
uvicorn==0.34.0
sentry-sdk==2.18.0