# RU (RU REF) , RT (RU DEV) or PROD
EPA_ENVIRONMENT = 'RT'

# The assigned number of the ePA provider (IBM=1, RISE=2) (epa-as-<provider-number>) to use as fallback
#   See: https://gemspec.gematik.de/docs/gemSpec/gemSpec_Aktensystem_ePAfueralle/latest/#A_24592-02
DEFAULT_EPA_PROVIDER_ID = 2

USER_AGENT = 'usrAgent/1.1.0'
KONNEKTOR_URL = 'https://konnektor-2.ru.tiaas.rise-ti.de'
KONNEKTOR_CERT_PW = '0000'

# Construct the Author string from the following variables
DIGA_NAME = ''
DIGA_MANUFACTURER = ''
SW_ADDITION_1 = '' # optional
SW_ADDITION_2 = '' # optional
SW_ADDITION_3 = '' # optional

#Alternatively, the entire Author string can also be used
#AUTHOR = 

MANDANT_ID = ''
CLIENT_SYSTEM_ID = ''
WORKPLACE_ID = ''
USER_ID = '' # optional


LOG_LEVEL = 'INFO'
# Timeout for HTTPS requests in seconds
HTTPS_TIMEOUT = 30

# Mapping of provider numbers to service endpoints
# See: https://gemspec.gematik.de/docs/gemSpec/gemSpec_Aktensystem_ePAfueralle/latest/#A_24592-02
RECORD_PROVIDER_1 = 'IBM'
RECORD_PROVIDER_2 = 'Bitmarck Technik'
