# RU (RU REF) , RT (RU DEV) or PROD
EPA_ENVIRONMENT = 'RT'

# The assigned number of the ePA provider (IBM=1, RISE=2) (epa-as-<provider-number>) to use as fallback
#   See: https://gemspec.gematik.de/docs/gemSpec/gemSpec_Aktensystem_ePAfueralle/latest/#A_24592-02
DEFAULT_EPA_PROVIDER_ID = 2

USER_AGENT = 'usrAgent/1.1.0'
# The url or ip address of the Konnektor to connect to. 
# This is typically provided by your Konnektor / TI-as-a-Service provider or can be found in your TI Client configuration file.
KONNEKTOR_URL = 'https://172.0.0.1'

# password for the konnektor '.p12' certificate
KONNEKTOR_CERT_PW = '0000'

# Sets the mode in which the TLS handshake is performed on the connector. 
# NOTE: Depending on how the configuration is set in the connector UI, different modes may apply here.
# OPTIONS:
# - "smc_k": The TLS handshake is performed using the gSMC-K certificate. This is the recommended mode for production use.
#            The smc_k certificate is issued by the gematik an can be validated by the TI truststore.     
# - "alternative": The TLS handshake is performed using an alternative certificate. This is typically used for testing or development.
#                  The alternative certificate is issued by the Konnektor itself and is not validated by the TI truststore. The certificate must be provided in the config/ssl/konnektor/cert.pem file.
# - "insecure": The TLS handshake is performed without verifying the Konnektor's certificate. This is insecure and NOT recommended for production use.
KONNEKTOR_TLS_MODE = "smc_k" 


# --- DiGA-specific variables (used when SMC-B has DiGA professionOID) ---
# Construct the Author string from the following variables
DIGA_NAME = ''
DIGA_MANUFACTURER = ''
SW_ADDITION_1 = '' # optional
SW_ADDITION_2 = '' # optional
SW_ADDITION_3 = '' # optional

# --- Leistungserbringer-specific variables (used when SMC-B has non-DiGA professionOID) ---
# All optional - values are auto-detected from the SMC-B certificate when possible.
# Set these only if you need to override the auto-detected values.
# See: gemSpec A_14763-03
# LANR = ''              # Lebenslange Arztnummer (LANR/ZANR) - only KBV-sector
# AUTHOR_SURNAME = ''    # overrides cert Subject DN surName
# AUTHOR_GIVEN_NAME = '' # overrides cert Subject DN givenName
# AUTHOR_TITLE = ''      # overrides cert Subject DN title
# ORG_NAME = ''          # overrides cert Subject DN organizationName
# PRACTICE_SETTING_CODE = 'INNE'  # Doctor's specialty (ALLG, HAEM, INNE, etc.)

#Alternatively, the entire Author string can also be used
#AUTHOR = 

MANDANT_ID = ''
CLIENT_SYSTEM_ID = ''
WORKPLACE_ID = ''
USER_ID = '' # optional


LOG_LEVEL = 'INFO'
# Timeout for HTTPS requests in seconds
HTTPS_TIMEOUT = 30

# Mapping of provider numbers to service endpoints
# See: https://gemspec.gematik.de/docs/gemSpec/gemSpec_Aktensystem_ePAfueralle/latest/#A_24592-02
RECORD_PROVIDER_1 = 'IBM'
RECORD_PROVIDER_2 = 'Bitmarck Technik'